@model IEnumerable<Task2.Models.UploadedFile>

@{
    ViewData["Title"] = "Uploaded Files";
}

<h1>Загруженные файлы</h1>

@if (Model != null && Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Имя файла</th>
                <th>Дата загрузки</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model)
            {
                <tr>
                    <td>@file.FileName</td>
                    <td>@file.UploadDate.ToString("g")</td>
                    <td><a href="@Url.Action("ViewFile", "Home", new { id = file.Id })">Просмотреть файл</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Еще не было загружено никаких файлов.</p>
}

<hr />

<h2>Загрузить новый файл</h2>
<form asp-controller="FileUpload" asp-action="UploadFile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Выберите файл .xlsx</label>
        <input type="file" class="form-control" name="file" id="file" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Upload</button>
</form>
